%script{:src => "//maps.google.com/maps/api/js?key=#{ENV['MAPS']}"}
%script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}

%table
  %thead
    %tr.table_head_color
      %th RequestNumber
      %th SequenceNumber
      %th RequestType
      %th PrimaryServiceAreaCode
      %th AdditionalServiceAreaCodes
      %th DigsiteInfo
      %th ResponseDueDateTime
  %tbody
    %tr
      %td= @ticket.RequestNumber
      %td= @ticket.SequenceNumber
      %td= @ticket.RequestType
      %td= @ticket.PrimaryServiceAreaCode
      %td= @ticket.AdditionalServiceAreaCodes
      %td= @ticket.DigsiteInfo
      %td= @ticket.ResponseDueDateTime
%br
#map{:style => "width: 800px; height: 400px;"}
:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @hash.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
  });

%h1
  Excavator data:
%br
%table
%thead
  %tr.table_head_color
    %th CompanyName
    %th Street
    %th City
    %th State
    %th Zip
    %th Type
    %th CrewOnSite
%tbody
  %tr
    -#%td= @ticket.excavator.CompanyName
    -#%td= @ticket.excavator.Street
    -#%td= @ticket.excavator.City
    -#%td= @ticket.excavator.State
    -#%td= @ticket.excavator.Zip
    -#%td= @ticket.excavator.Type
    -#%td= @ticket.excavator.CrewOnSite

