%head
  %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS']}&callback=initMap"}
    :cdata
%table
  %thead
    %tr.table_head_color
      %th RequestNumber
      %th SequenceNumber
      %th RequestType
      %th PrimaryServiceAreaCode
      %th AdditionalServiceAreaCodes
      %th DigsiteInfo
      %th ResponseDueDateTime
  %tbody
    %tr
      %td= @ticket.RequestNumber
      %td= @ticket.SequenceNumber
      %td= @ticket.RequestType
      %td= @ticket.PrimaryServiceAreaCode
      %td= @ticket.AdditionalServiceAreaCodes
      %td= @ticket.DigsiteInfo
      %td= @ticket.ResponseDueDateTime
%br
#map{:style => "width: 800px; height: 400px;"}
%h1
  Excavator data:
%br
%table
%thead
  %tr.table_head_color
    %th CompanyName
    %th Street
    %th City
    %th State
    %th Zip
    %th Type
    %th CrewOnSite
%tbody
  %tr
    - unless @ticket.excavator.nil?
      %td= @ticket.excavator.CompanyName
      %td= @ticket.excavator.Street
      %td= @ticket.excavator.City
      %td= @ticket.excavator.State
      %td= @ticket.excavator.Zip
      %td= @ticket.excavator.Type
      %td= @ticket.excavator.CrewOnSite





